<div
  class="main"
  *ngIf="
    !isOnAdminPage && currentRoute !== '/menu' && currentRoute !== '/order'
  "
>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RMCC</a>
      <button
        class="navbar-toggler"
        type="button"
        aria-label="Toggle navigation"
        (click)="toggleMenu()"
      >
        <span>
          <i class="fa-solid fa-bars"></i>
        </span>
      </button>
      <ul class="menu" [class.open]="isMenuOpen" id="navbarSupportedContent">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/dish"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >DISH</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >ABOUT</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/gallary"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >GALLERY</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/admin"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >ADMIN</a
          >
        </li>
        <li class="search-bar">
          <form class="d-flex">
            <input
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div
  class="admin-navbar"
  *ngIf="isOnAdminPage || currentRoute === '/menu' || currentRoute === '/order'"
>
  <div class="sidebar" [ngClass]="{ show: isSidebarOpen }">
    <button class="toggle-button" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </button>
    <ul>
      <li>
        <a routerLink="/dashboard">
          <i class="fas fa-home icon"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/order">
          <i class="fas fa-users icon"></i>
          ORDER
        </a>
      </li>
      <li>
        <a routerLink="/menu">
          <i class="fas fa-shopping-cart icon"></i>
          MENU
        </a>
      </li>
      <li>
        <a routerLink="/user">
          <i class="fas fa-shopping-cart icon"></i>
          User
        </a>
      </li>
      <!-- Add more menu items as needed -->
    </ul>
  </div>
  <div class="content" [ngClass]="{ show: isSidebarOpen }">
    <!-- Add your content here -->
    <router-outlet></router-outlet>
  </div>
</div>

<router-outlet></router-outlet>
