<section class="location">
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15012.858810199972!2d75.2870669!3d19.8308664!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bdb992d84a5468d%3A0x9406c314e3c3600e!2sKirtee%20Nagar%20Society%2C%20Flat%20no%2013%20Third%20floor%2C%20Renuka%20Nagari%2C%20Vadgao%20Budruk%2C%20411041!5e0!3m2!1sen!2sin!4v1686760136027!5m2!1sen!2sin"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>
  
  
<section class="contact-us">
  <div class="row">
    <div class="contact-col">
      <div>
        <i class="fa fa-home" aria-hidden="true"></i>
        <span class="contxt">
          <h5>
            xyz
          </h5>
          <p>Our Address</p>
        </span>
      </div>
      <div>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span class="contxt">
          <h5>1234567890</h5>
          <p>Monday To Friday 10 am to 4pm</p>
        </span>
      </div>
      <div>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <span class="contxt">
          <h5>rmcc</h5>
          <p>For any enquiry Email us</p>
        </span>
      </div>
    </div>
    <div class="contact-col">
      <form (ngSubmit)="submitForm()" #contactForm="ngForm">
        <input
          type="text"
          name="name"
          placeholder="Enter Your Name"
          required
          [(ngModel)]="name"
          #nameInput="ngModel"
        />
        <input
          type="text"
          name="email"
          placeholder="Enter Your Email"
          required
          [(ngModel)]="email"
          #emailInput="ngModel"
        />
        <input
          type="text"
          name="subject"
          placeholder="Enter Your Subject"
          required
          [(ngModel)]="subject"
          #subjectInput="ngModel"
        />
        <textarea
          rows="8"
          name="message"
          placeholder="Message"
          required
          [(ngModel)]="message"
          #messageInput="ngModel"
        ></textarea>
        <div>
          <button type="submit" [disabled]="!contactForm.form.valid">
            <span></span>Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
