<div class="main">
  <div class="container">
    <div class="content">
      <h1>Welcome To <span>RMCC Hotel</span></h1>
      <p>Taste & Service that your family will never forget</p>
    </div>
    <div class="form-container">
      <form>
        <h2>Login Here</h2>
        <input type="email" name="email" placeholder="Enter Your email Here" />
        <input type="password" name="" placeholder="Enter Your password Here" />
        <button class="btnn"><a href="#">Login</a></button>
        <p class="link">
          Don't have an account<br />
          <a href="#">Sign up here</a>
        </p>
      </form>
    </div>
  </div>
</div>
